@import "tailwindcss";


*{
    transition: all 0.2s;
}

body{
    background-color: #111;
    transition: none;
    color: white;
}


.active{
    border-bottom: 2px solid;
    font-weight: 600;
}



.pagination-container{
    scrollbar-width: thin;
    scrollbar-color: rgb(29, 71, 134) rgb(14, 30, 62);
}